<!DOCTYPE html>
<html>
    <head>
        <title>NFL FreeAPI</title>
    </head>
            <body>
                <div>
                    <h3>AFC Est</h3>
                    <ol><a href="http://127.0.0.1:5000/buf">Buffalo Bills</a></ol> 
                    <ol><a href="http://127.0.0.1:5000/mia">Miami Dolphins</a></ol>
                    <ol><a href="http://127.0.0.1:5000/ne">New England Patriots</a></ol>
                    <ol><a href="http://127.0.0.1:5000/nyj">New York Jets</a></ol>
                </div>
                <div>
                    <h3>AFC North</h3>
                    <ol><a href="http://127.0.0.1:5000/bal">Baltimore Ravens</a></ol> 
                    <ol><a href="http://127.0.0.1:5000/cin">Cincinnati Bengals</a></ol> 
                    <ol><a href="http://127.0.0.1:5000/cle">Cleveland Browns</a></ol> 
                    <ol><a href="http://127.0.0.1:5000/pit">Pittsburgh Steelers</a></ol>
                </div> 
                <div>
                    <h3>AFC west</h3>
                    <ol><a href="http://127.0.0.1:5000/den">Denver Broncos</a></ol> 
                    <ol><a href="http://127.0.0.1:5000/kc">Kansas City Chiefs</a></ol> 
                    <ol><a href="http://127.0.0.1:5000/lv">Las Vegas Raiders</a></ol> 
                    <ol><a href="http://127.0.0.1:5000/lac">Los Angeles Chargers</a></ol>
                </div>
                 <div>
                    <h3>AFC South</h3>
                    <ol><a href="http://127.0.0.1:5000/hou">Houston Texans</a></ol> 
                    <ol><a href="http://127.0.0.1:5000/ind">Indianapolis Colts</a></ol> 
                    <ol><a href="http://127.0.0.1:5000/jax">Jacksonville Jaguars</a></ol> 
                    <ol><a href="http://127.0.0.1:5000/ten">Tennessee Titans</a></ol>
                </div>
                <div>
                    <h3>NFC East</h3>
                    <ol><a href="http://127.0.0.1:5000/dal">Dallas Cowboys</a></ol> 
                    <ol><a href="http://127.0.0.1:5000/nyg">New York Giants</a></ol> 
                    <ol><a href="http://127.0.0.1:5000/phi">Philadelphia Eagles</a></ol> 
                    <ol><a href="http://127.0.0.1:5000/wsh">Washington (Redskins)</a></ol>
                </div>
                <div>
                    <h3>NFC North</h3>
                    <ol><a href="http://127.0.0.1:5000/chi">Chicago Bears</a></ol> 
                    <ol><a href="http://127.0.0.1:5000/det">Detroit Lions</a></ol> 
                    <ol><a href="http://127.0.0.1:5000/gb">Green Bay Packers</a></ol>
                    <ol><a href="http://127.0.0.1:5000/min">Minnesota Vikings</a></ol>
                </div>
                <div>
                    <h3>NFC West</h3>
                    <ol><a href="http://127.0.0.1:5000/ari">Arizona Cardinals</a></ol> 
                    <ol><a href="http://127.0.0.1:5000/lar">Los Angeles Rams</a></ol> 
                    <ol><a href="http://127.0.0.1:5000/sf">San Francisco 49ers</a></ol> 
                    <ol><a href="http://127.0.0.1:5000/sea">Seattle Seahawks</a></ol>
                </div>
                <div>
                    <h3>NFC South</h3>
                    <ol><a href="http://127.0.0.1:5000/atl">Atlanta Falcons</a></ol> 
                    <ol><a href="http://127.0.0.1:5000/car">Carolina Panthers</a></ol> 
                    <ol><a href="http://127.0.0.1:5000/no">New Orleans Saints</a></ol> 
                    <ol><a href="http://127.0.0.1:5000/tb">Tampa Bay Buccaneers</a></ol>
                </div>

           </body>
</html>