{"team":"Las Vegas Raiders"}
{"league":""}
{"season":""}
{"games playeds":""}
{"total yards":""}
{"yards/game":""}
{"pass yards":""}
{"pass yards/game":""}
{"rush yards":""}
{"rush yards/game":""}
{"total points":""}
{"points/game":""}
{"defensive total yards":""}
{"defensive pass yards":""}
{"defensive pass yard/game":""}
{"defensive rush yard":""}
{"defensive rush yard/game":""}
{"defensive total points":""}
{"defensive points/game":""}
{"ST":""}
{"":""}
{"":""}
{"":""}
{"":""}
{"":""}
{"":""}
{"":""}