{"team":"Washington Football Team (Redskins)"}
{"league":"NFC EAST"}
{"season":"2019-2020"}
{"games playeds":"16"}
{"total yards":"4.395"}
{"yards/game":"274.7"}
{"pass yards":"2.812"}
{"pass yards/game":"175.8"}
{"rush yards":"1.583"}
{"rush yards/game":"98.9"}
{"total points":"266"}
{"points/game":"16.6"}
{"defensive total yards":"6.162"}
{"defensive yards/game":"385.1"}
{"defensive pass yards/":"3.823"}
{"defensive pass yard/game":"238.9"}
{"defensive rush yard":"2.339"}
{"defensive rush yard/game":"146.2"}
{"defensive total points":"435"}
{"defensive points/game":"27.2"}
{"ST kickoff's return":"33"}
{"ST total yards kickoffs return":"833"}
{"ST yards/game kickoffs return":"25.2"}
{"ST Long kickoffs return":"91"}
{"ST TD kickoffs return":"1"}
{"ST punts return":"22"}
{"ST total yards punts return":"104"}
{"ST yards/game punts return":"4.7"}
{"ST long punts return":"15"}
{"ST TD punts return":"0"}
{"interceptions":"13"}
{"fumbles recovered":"9"}
{"suffered interceptions":"13"}
{"fumbles lost":"8"}
